@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #fff2e3;
    font-family: 'Urbanist', sans-serif;
}
.page-wrapper{
    /*margin: 80px;*/
    /*padding: 80px;*/
}
main {
    padding: 80px;
}
.main.row {
    border-radius: 15px;
    max-width: 700px;
    max-height: 400px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}
p.logo{
    font-family: inherit;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 8px;
    color: #be795c;
    justify-content: center;
}
ul a:link{
    text-decoration: none;
    color: #be795c;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
a:visited{
    color: #be795c;
}
a:hover {
    color: #5d3a2a;
}
ul {
    list-style: none;
}
h1.logo{
    font-family: inherit;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 8px;
    color: #be795c;
}
h2.product {
    font-family: 'Gluten', cursive;
    font-weight: 500;
    font-size: 40px;
    color:#5d3a2a;
}
p {
    font-size: 12px;
    color: #5d3a2a;
}
p span{
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 300;
    color: #be795c;
}
p#product{
    font-family: inherit;
    font-size: 12px;
    font-weight: 100;
    color: #be795c;
}
p.price {
    font-family: 'Gluten', cursive;
    font-size: 30px;
    font-weight: 600;
}
button{
    background-color: #c4b193;
    border-color: lightgrey;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    flex: 200px;
    width: 200px;
    height: 45px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Urbanist', sans-serif;
}
.thumbnail-wrapper {
    width: 300px;
    aspect-ratio: 4/3;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.thumbnail-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.3s;
}
.thumbnail-wrapper:hover img {
    transform: scale(1.2);
}
.thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.thumbnail-wrapper:hover .thumbnail-overlay {
    opacity: 1;
}
.row {
    padding: 0;
}
@media screen and (min-width: 501px){

}
@media screen and (max-width: 535px){
    header .row {
        flex-direction: column;
    }
    header .row .column {
        align-items: center;
    }
    p.logo {
        display: flex;
        justify-content: center;
    }
    header nav ul {
        display: flex;
        justify-content: center;
    }
    .column img.candle-img{
        object-fit: cover;
    }
    main {
        padding-top: 20px;
    }
    main .row {
        flex-direction: column;
        min-width: 300px;
        min-height: 800px;
        justify-content: center;
    }
    main .content{
        justify-content: center;
        align-items: center;
    }
    main .column h1 {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    main .column h2{
        flex-direction: row;
        font-size: 30px;
    }
    main .column p.price {
        font-size: 20px;
    }
    main .column p span {
        font-size: 14px;
    }


}